* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.video-box iframe,
.video-popup iframe {
    max-width: 100%;
}

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    color: white;
    padding: 10px;
    background: rgba(192,192,192, 0.4);
}

.swiper-pagination {
    bottom: 0;
}

.swiper-pagination-bullet {
    background-color: white;
}

/* .slider_container  {
    display: none;
} */

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.9);
    top: 0;
    left: 0;
}

.popup {
    opacity: 0;
    visibility: hidden;

}

.popup__body {
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    /* opacity: 0;
    visibility: hidden; */
}

.popup__content {
    max-width: 800px;
    position: relative;
    padding: 30px;
}

.video-popup {
    justify-content: center;
    display: flex;  
}

.popup__close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}


